<div class="container-fluid">
<div class="jumbotron center">
	<h1>Welcome!</h1>
	<p>Hyperlearn is the learning platform of the future. Currently, we offer engaging and exciting education for Remedial Math students. For any comments, questions and concerns, feel free to contact us at avi.banerjee164@gmail.com.</p>
	<%= yield %>
</div>
</div>