<div class="container-fluid">
<div class="jumbotron center">
	<h1>Welcome to Hyperlearn!</h1>
	<p>This site is currently under construction. Feel free to contact avi.banerjee164@gmail.com with any comments or concerns.</p>
	<%= yield %>
</div>
</div>