<div class="container-fluid">
<div class="jumbotron">
<div class="progress container">
  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 5%;">
    5%
  </div>
</div>

<div class="page-header orion-text">
  <h1>Mission: Orion’s Return <small>point-slope form</small></h1>
</div>


<div class ="orion-text container-fluid">

	<p>It's December 5th, 2014 at the Kennedy Space Center in Cape Canaveral, Florida, a large group of engineers stared at their computer monitors, working simultaneously to navigate their spaceship Orion home.</p>
<img src="http://www.americaspace.com/wp-content/uploads/2014/04/Space-Shuttle-Endeavour-STS-118-086.preview.jpg" alt="Space Center" class="round-corners container" style="width:500px;height:350px;">
	<p>
		Like skipping a rock on water, if Orion came in at the wrong angle, instead of successful re--entry, there would be giant splash--rather, a giant explosion. Precise angle of attack matters. 
	</p>

<img src="https://i.ytimg.com/vi/KyZqSWWKmHQ/maxresdefault.jpg" alt="Orion Reenty" class="round-corners container" style="width:500px;height:350px;">


<p>
One of the ways to calculate angle-of-attack, or the intersection of Orion’s path with earth’s atmosphere, is to use <i>slope intercept form</i>. Often represented by <b>y = mx + b</b> slope intercept form.
</p>



<p><li><b>m</b> is the slope -- think: <b>m is for 'move'</b> </li></p>

<li><b>b</b> is the y-intercept -- think: b is where the line begins</li>

<ol>y = 5x + 3 is an example of the Slope Intercept Form and represents the equation of a line with a slope of 5 and and a y-intercept of 3.</ol>

<ol>y = −2x + 6 represents the equation of a line with a slope of −2 and and a y-intercept of 6</ol>

<li>Since a vertical line goes straight up and down, its slope is undefined. Also, the x value of every point on a vertical line is the same. Therefore, whatever the x value is, is also the value of 'b'.

</p>

<p>While Orion races to earth:</p>
<img src="https://i.ytimg.com/vi/fAMqb77Dmzk/maxresdefault.jpg" alt="Orion Reenty" class="round-corners container" style="width:500px;height:350px;">
</div>
<p>.</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/j1vmVJKqUFE" frameborder="0" allowfullscreen class="round-corners"></iframe>

        <%= link_to "Let's Go!", oriontest_path, class: "btn btn-default btn-lg" %>

	<%= yield %>
</div>
</div>

