<div class="container-fluid">
<div class="jumbotron center">
	<h1>Choose your Story</h1>
</div>
	<p></p>
	<%= yield %>
</div>


     <div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://cliparting.com/wp-content/uploads/2016/05/Clip-art-of-car-clipart-image-2.png" alt="Tesla" class ="choose-story round-corners tesla">
      <div class="caption">
      <div class ="orion-text">
        <h1>Thumbnail label</h1>
        <p>The acceleration of a car can be determined by looking at the area under a curve. Let's get Fast and Furious!</p>
        </div>
        <%= link_to "Let's Race!", orionsreturn_path, class: "btn btn-default btn-lg" %>
      </div>
    </div>
  </div>



  <div class="col-sm-12 col-md-4">
    <div class="thumbnail orion-text">
      <img src="http://dornerworks.com/wp-content/uploads/2016/10/Transport-Rocket-icon.png" alt="Orions Return" class ="choose-story border radius">
      <div class="caption orion-text">
      <div class ="orion-text">
        <h2>Orion's Return</h2>
        <p>Go on an adventure as we go to space! Learn how rocketships and satellites must enter the atmosphere at a critical angle.</p>
        </div>
        <%= link_to "Orion's Return", orionsreturn_path, class: "btn btn-default btn-lg" %>
      </div>
    </div>
  </div>


  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="
https://openclipart.org/image/100px/svg_to_png/75997/baseball-player-silhouette.png&disposition=attachment" alt="Baseball" class ="baseball border-radius choose-story" style="width:120px;height:120px;">
      <div class="caption orion-text">
      <div class ="orion-text">
        <h3>Home Run</h3>
        <p>How hard must a batter hit the ball for a Grand Slam?! Follow Babe Ruth as he finds out.</p>
        </div>
        <%= link_to "Batter Up!", orionsreturn_path, class: "btn btn-default btn-lg" %>
      </div>
    </div>
  </div>
</div>
  </div>
  
  <p>.</p> 
</div>



